/*Header.php (logo and logout btn*/

body{
    margin: 0;
    overflow: hidden;
    background-image: url("../img/achtergrond(nieuw).png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header{
    margin: 0;
    display: flex;
    justify-content: center;
}

.header-container {
    position: relative;
    height: 150px;
    width: 400px;
    background-color: transparent;
    margin-top: 30px;
}

.image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: auto;
    transition: all 0.5s ease;
    resize: both;
    overflow: auto;
}

.image-left {
    left: -200px;
    width: 100px;
    background-color: transparent;
    z-index: 9;
    pointer-events: none;

}

.image-right {
    right: -200px;
    width: 200px;
    background-color: transparent;
    z-index: 8;
    top: 77px;
    pointer-events: none;
}

.header-container:hover .image-left {
    left: 50px;
}

.header-container:hover .image-right {
    right: -30px;
}

.header-container:not(:hover) .image-left {
    left: calc(50% - 102px);
}

.header-container:not(:hover) .image-right {
    right: calc(50% - 150px);
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #630101;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.header-container:hover .button {
    display: block;
}

.button:hover {
    background-color: #813535;
}

/**/