body {
    background-image: url("../img/achtergrond(nieuw).png");
    background-size: 100% 100%;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

html{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header{
    position: absolute;
    top: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    background-color: #6D0F10;
    color: white;
    width: 400px;
    height: 60px;
    text-align: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0;
    line-height: 60px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #EEEEEE;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 250px;
    margin: 0;
}

.form-row{
    margin: 15px;
}

input{
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    text-align: center;
}

.submit-btn{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #6D0F10;
    color: white;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    transition:  0.3s, transform 0.2s;
}

.submit-btn:hover{
    transform: scale(1.05);
}

p{
    width: 400px;
    height: 50px;
    background-color: #F0EFEF;
    font-size: 20px;
    color: red;
    text-align: center;
    line-height: 50px;
}

/*Registreren.php*/
.registreren-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #F0EFEF;
    width: 400px;
    height: 330px;
    margin: 0;
}

.registreer-submit-btn{
    height: 40px;
    border-radius: 8px;
    background-color: #6D0F10;
    color: white;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.registreer-submit-btn:hover{
    border: 2px solid white;
}
/**/